# vscode
*.code-workspace

### VisualStudioCode ###
.vscode/* # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# editor tmp files
*~

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# local overrides, dont put in git
.AOK_VARS

# I use it as a reminder so I dont override anything locally
globals.txt

# src makefile output
src/idev_ip
Alpine/src/login_loop
Alpine/src/login_once
Debian/src/login_loop
Debian/src/login_once
